html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(rgb(198, 192, 255), rgb(162, 130, 238));
}

button {
  font-size: 12px;
  color: white;
}

button#sort-date {
  color: black;
}

input {
  font-size: 15px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(124, 34, 34, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgb(122, 120, 120);
}

#list {
  margin: 10px;
  width: 75%;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#tasks {
  
}
